/* Theme overrides */

.no-col-padding {
    padding: 0;
}

.email-preview-portlet-toolbar {
    border-bottom: 1px solid @grayD;
    height: 100%;

    .alert-quota {
        padding: 6px 12px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.fl-pager {
    margin-top: 10px;

    #allFolders {
        margin-top: 0 !important;
        width: auto !important;
    }

    .pager {
        margin: 0;
        li {
            float: left;
            margin-left: 6px;
            ul {
                float: left;
            }
        }
    }
}

.email-message {
    .email-message-toolbar {
        padding-bottom: 6px;
        border-bottom: 1px solid @grayD;
    }
}

.email-preview-rollup {
    height: 120px;
    margin: 0 auto auto 20px;
    color: @gray8;
    position: relative;

    .jumbotron {
        padding-top: 20px;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }

        .email-animation {
            .unreadContainer {
                font-size: 20px;
                position: relative;
                float: right;
                bottom: 25px;
            }
        }
    }
}

// Removing jQueryUI Styles
.ui-corner-all {
    .rounded(0);
}

