/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.email-inbox-link {
    font-weight: normal;
}
.email-inbox-link-unread {
    font-weight: bold;
}
.email-action-link {
    text-decoration: none;
}
.email-action-link:hover {
    text-decoration: underline;
}
.email-portlet-table {
    width: 99%;
    border-collapse: collapse;
    table-layout:fixed;
}
.email-portlet-table th, .email-portlet-table td {
    border: 1px solid #CCC;
    cursor: auto;
}
.email-portlet-table td div, .email-portlet-table td div a {
    white-space: nowrap;
    overflow: hidden;
}

.message-headers .message-header-name { font-weight: bold; color: #333; text-align: right; }

.loading-message { height: 150px; background: url(../images/loading.gif) no-repeat center center; }

.select { width: 16px; *width: 30px; text-align: center; padding: 0.1em 0.5em; }

.flags-header { width: 16px; *width: 30px; text-align: right; }
.flags-header .flags-span { display:inline; background: url(../rs/famfamfam/silk/1.3/flag_red.png) no-repeat; padding-left: 16px; text-align: right; }
.flags-header .attached-span { display:inline; background: url(../rs/famfamfam/silk/1.3/attach.png) no-repeat; padding-left: 16px; text-align: right; }
.flags { padding: 0.1em 1em; }

.unread { font-weight: bold; }
.answered-span { display:none; }
.answered .answered-span { display:inline; background: url(../images/answered.png) no-repeat; padding-left: 16px; text-align: right; }
.attached-span { display:none; }
.attached .attached-span { display:inline; background: url(../rs/famfamfam/silk/1.3/attach.png) no-repeat; padding-left: 16px; text-align: right; }
.deleted { text-decoration: line-through; }

/* CSS for email preferences */
#plt-email-form {padding:0px; maring:0px;}
#plt-email-form .disabled {border: 1px solid #ddd; color:#aaa; background:#f3f3f3;}
#plt-email-form label {display:block; padding:5px;}
#plt-email-form .help {font-weight:bold; cursor:pointer; margin-top:20px; padding:0 0 0 17px; background: transparent url(../images/help.png) 0 4px no-repeat;}
#plt-email-form .help span {display:none; font-weight:normal;}
#plt-email-form .plt-email-input-error {display:none; padding:5px; background:#ebf2f5; border:2px solid #bdbdbd; margin:5px 0; font-weight:bold; color:#2f4954;}
#plt-email-form #plt-email-input-email.plt-email-input-error-highlight,#plt-email-form #plt-email-input-email.plt-email-input-error-highlight:focus {background:#cde6ff;}
#plt-email-form #plt-email-input-password.plt-email-input-error-highlight,#plt-email-form #plt-email-input-password.plt-email-input-error-highlight:focus {background:#cde6ff;}
#plt-email-form #plt-email-input-incoming.plt-email-input-error-highlight,#plt-email-form #plt-email-input-incoming.plt-email-input-error-highlight:focus {background:#cde6ff;}
#plt-email-form #plt-email-input-port.plt-email-input-error-highlight,#plt-email-form #plt-email-input-port.plt-email-input-error-highlight:focus {background:#cde6ff;}
#plt-email-form #plt-email-input-email:focus {background:#efefef;}
#plt-email-form #plt-email-input-port:focus {background:#efefef;}
#plt-email-form #plt-email-input-password:focus {background:#efefef;}
#plt-email-form #plt-email-input-incoming:focus {background:#efefef;}
#plt-email-submission-error {display:none; padding:8px; background:#fff09e; border:2px solid #edd23b; margin:5px 0; font-weight:bold; color:#5f5101;}
#plt-email-form .fieldset {border:0px; padding:0 0 20px 0; display:block;}
#plt-email-form .fieldset legend {display:none;}
.plt-email-row {
   display:table-row;
   height:100%;
   clear:both;
}
.plt-email-row label {
   float:left;
   display:table-cell; 
   white-space:nowrap; 
   width:8em;
}
.plt-email-row input, .plt-email-row select {
   display:table-cell; 
   float:left;
}
