/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.email-inbox-link {
    font-weight: normal;
}
.email-inbox-link-unread {
    font-weight: bold;
}
.email-portlet-table {
    width: 99%;
    border-collapse: collapse;
    table-layout:fixed;
}
.email-portlet-table th, .email-portlet-table td {
    border: 1px solid #CCC;
}
.email-portlet-table td div, .email-portlet-table td div a {
    white-space: nowrap;
    overflow: hidden;
}

.message-headers .message-header-name { font-weight: bold; color: #333; text-align: right; }

.loading-message { height: 150px; background: url(/email-preview/images/loading.gif) no-repeat center center; }

.flags-header { width: 16px; text-align: right; }

.unread { font-weight: bold; }
.answered-span { display:none; }
.answered .answered-span { display:inline; background: url(/email-preview/images/answered.png) no-repeat; padding-left: 16px; text-align: right; }
.deleted { text-decoration: line-through; }