/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.email-container {
  /* Theme overrides */
}
.email-container .no-col-padding {
  padding: 0;
}
.email-container .email-preview-portlet-toolbar {
  border-bottom: 1px solid #dddddd;
  height: 100%;
}
.email-container .email-preview-portlet-toolbar .alert-quota {
  padding: 6px 12px;
  margin-bottom: 10px;
  text-align: center;
}
.email-container .fl-pager {
  margin-top: 10px;
}
.email-container .fl-pager #allFolders {
  margin-top: 0 !important;
  width: auto !important;
}
.email-container .fl-pager .pager {
  margin: 0;
}
.email-container .fl-pager .pager li {
  float: left;
  margin-left: 6px;
}
.email-container .fl-pager .pager li ul {
  float: left;
}
.email-container .email-message .email-message-toolbar {
  padding-bottom: 6px;
  border-bottom: 1px solid #dddddd;
}
.email-container .ui-corner-all {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
